.sign-up{

width: 500px;
box-shadow: 0 0 3px 0 rgba(0,0,0,0.9);
background: #ffff;
padding: 10px;
margin: 8% auto 0;
text-align: center;
border-radius: 20px;
border-color: black;
}
h3{
	color: #0D1B4C;
}
h6{
	text-align: right;
	margin: 35px;
	font-size: 30px;

}
.input{

	margin: 10px;
	width: 60%;
	border-radius: 20px;
	display: inline-block;
	float: right;
}

.label{
	text-align: left;
	display: inline-block;
	margin: 10px;
	color: #0D1B4C;
	width: 30%;
}
.labelBox{
	text-align: left;
	display: inline-block;
	float: left;
	clear: both;
	margin: 5px;
	padding: 10px;
position: relative;
	color:  #0D1B4C;
	width: 60%;
}
.labelBox1{
	display: inline-block;
	padding: 12px;
	margin: 12px;
	color:  #0D1B4C;
}
.text-muted{
	text-align: center;
	display: inline;
	float: right;
	margin:10px;
	padding: 5px;
}

.signup-btn{
	border-radius: 25px;
	color: white;
	background-color:  #0D1B4C;
	display: block;
	width: 70%;
	text-align: center;
	margin-left: 15%;
	padding: 10px;
	box-shadow: 0 0 0 7px 0 rgba(1,1,0,0.3);
	margin-top:  10px;
	margin-bottom: 15px;
}

.inputCovid{
	margin: 10px;
	width: 150px;
	border-radius: 20px;
	display: inline-block;
	float: right;
}

.labelCovid{
	text-align: left;
	display: inline-block;
	margin: 10px;
	margin-left: 30px;
	margin-right: 60px;
	color: #0D1B4C;
	width: 200px;
}